# Data Cleaning, Sort, and Groupby, Join/Combine, Exporting Data

In [110]:
import pandas as pd
import numpy as np
import openpyxl

In [24]:
f = pd.read_csv('ipl_player.csv')

## Data Cleaning

renaming the column names.

In [28]:
f.isnull()
# check whether the dataframe has null values
# Column '5+ Innings Wickets' has null values
# notnull() - Opposite of f.isnull()

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,...,Runs Conceded,Wickets Taken,Best Bowling Figures,Bowling Average,Bowling Economy Rate,Bowling Strike Rate,4+ Innings Wickets,5+ Innings Wickets,Catches Taken,Stumpings Made
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
627,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
628,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
629,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
630,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [30]:
f.dropna()
# Drop all rows that contain null values
# as column '5+ Innings Wickets' has null values,
# all the rows are dropped.

Empty DataFrame
Columns: [Team, Player, Tournament, Matches, Batting Innings, Not Out, Runds Scored, Highest Score, Batting Average, Balls Faced, Batting Strike Rate, 100, 50, 0, 4s, 6s, Bowling Innings, Overs Bowled, Maidens Bowled, Runs Conceded, Wickets Taken, Best Bowling Figures, Bowling Average, Bowling Economy Rate, Bowling Strike Rate, 4+ Innings Wickets, 5+ Innings Wickets, Catches Taken, Stumpings Made]
Index: []

[0 rows x 29 columns]

In [33]:
f.dropna(axis=1)
# Drop all columns that contain null values
# only column '5+ Innings Wickets' is dropped

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,...,Maidens Bowled,Runs Conceded,Wickets Taken,Best Bowling Figures,Bowling Average,Bowling Economy Rate,Bowling Strike Rate,4+ Innings Wickets,Catches Taken,Stumpings Made
0,Delhi Daredevils,CH Morris,IPL 2016,12,7,4,195,82*,65.00,109,...,0,308,13,2/30,23.69,7.00,20.3,0,8,0
1,Delhi Daredevils,CH Morris,IPL 2017,9,9,4,154,52*,30.80,94,...,0,240,12,4/26,20.00,7.74,15.5,1,5,0
2,Delhi Daredevils,CH Morris,IPL 2018,4,4,3,46,27*,46.00,26,...,0,143,3,2/41,47.66,10.21,28.0,0,2,0
3,Delhi Daredevils,JP Duminy,IPL 2016,10,8,3,191,49*,38.20,156,...,0,55,2,1/4,27.50,7.85,21.0,0,3,0
4,Delhi Daredevils,Q de Kock,IPL 2016,13,13,1,445,108,37.08,327,...,-,-,-,-,-,-,-,-,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,Delhi Capitals,S Lamichhane,IPL 2019,6,1,0,0,0,0.00,1,...,0,210,8,3/40,26.25,9.13,17.2,0,2,0
627,Delhi Capitals,CA Ingram,IPL 2019,12,12,2,184,47,18.40,154,...,-,-,-,-,-,-,-,-,1,0
628,Delhi Capitals,SE Rutherford,IPL 2019,7,7,2,73,28*,14.60,54,...,0,59,1,1/6,59.00,8.63,41.0,0,5,0
629,Delhi Capitals,KMA Paul,IPL 2019,8,6,1,18,7,3.60,24,...,0,237,9,3/17,26.33,8.72,18.1,0,5,0
630,Delhi Capitals,GH Vihari,IPL 2019,2,2,0,4,2,2.00,8,...,0,9,0,-,-,9.00,-,0,0,0

In [44]:
f.fillna('0')
# Replace all null values with '0'

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,...,Runs Conceded,Wickets Taken,Best Bowling Figures,Bowling Average,Bowling Economy Rate,Bowling Strike Rate,4+ Innings Wickets,5+ Innings Wickets,Catches Taken,Stumpings Made
0,Delhi Daredevils,CH Morris,IPL 2016,12,7,4,195,82*,65.00,109,...,308,13,2/30,23.69,7.00,20.3,0,0,8,0
1,Delhi Daredevils,CH Morris,IPL 2017,9,9,4,154,52*,30.80,94,...,240,12,4/26,20.00,7.74,15.5,1,0,5,0
2,Delhi Daredevils,CH Morris,IPL 2018,4,4,3,46,27*,46.00,26,...,143,3,2/41,47.66,10.21,28.0,0,0,2,0
3,Delhi Daredevils,JP Duminy,IPL 2016,10,8,3,191,49*,38.20,156,...,55,2,1/4,27.50,7.85,21.0,0,0,3,0
4,Delhi Daredevils,Q de Kock,IPL 2016,13,13,1,445,108,37.08,327,...,-,-,-,-,-,-,-,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,Delhi Capitals,S Lamichhane,IPL 2019,6,1,0,0,0,0.00,1,...,210,8,3/40,26.25,9.13,17.2,0,0,2,0
627,Delhi Capitals,CA Ingram,IPL 2019,12,12,2,184,47,18.40,154,...,-,-,-,-,-,-,-,0,1,0
628,Delhi Capitals,SE Rutherford,IPL 2019,7,7,2,73,28*,14.60,54,...,59,1,1/6,59.00,8.63,41.0,0,0,5,0
629,Delhi Capitals,KMA Paul,IPL 2019,8,6,1,18,7,3.60,24,...,237,9,3/17,26.33,8.72,18.1,0,0,5,0
630,Delhi Capitals,GH Vihari,IPL 2019,2,2,0,4,2,2.00,8,...,9,0,-,-,9.00,-,0,0,0,0

In [46]:
f.replace('IPL 2016','IPL 2k16')
# Replace all values equal to first argument with second arguement

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,...,Runs Conceded,Wickets Taken,Best Bowling Figures,Bowling Average,Bowling Economy Rate,Bowling Strike Rate,4+ Innings Wickets,5+ Innings Wickets,Catches Taken,Stumpings Made
0,Delhi Daredevils,CH Morris,IPL 2k16,12,7,4,195,82*,65.00,109,...,308,13,2/30,23.69,7.00,20.3,0,NaN,8,0
1,Delhi Daredevils,CH Morris,IPL 2017,9,9,4,154,52*,30.80,94,...,240,12,4/26,20.00,7.74,15.5,1,NaN,5,0
2,Delhi Daredevils,CH Morris,IPL 2018,4,4,3,46,27*,46.00,26,...,143,3,2/41,47.66,10.21,28.0,0,NaN,2,0
3,Delhi Daredevils,JP Duminy,IPL 2k16,10,8,3,191,49*,38.20,156,...,55,2,1/4,27.50,7.85,21.0,0,NaN,3,0
4,Delhi Daredevils,Q de Kock,IPL 2k16,13,13,1,445,108,37.08,327,...,-,-,-,-,-,-,-,NaN,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,Delhi Capitals,S Lamichhane,IPL 2019,6,1,0,0,0,0.00,1,...,210,8,3/40,26.25,9.13,17.2,0,NaN,2,0
627,Delhi Capitals,CA Ingram,IPL 2019,12,12,2,184,47,18.40,154,...,-,-,-,-,-,-,-,NaN,1,0
628,Delhi Capitals,SE Rutherford,IPL 2019,7,7,2,73,28*,14.60,54,...,59,1,1/6,59.00,8.63,41.0,0,NaN,5,0
629,Delhi Capitals,KMA Paul,IPL 2019,8,6,1,18,7,3.60,24,...,237,9,3/17,26.33,8.72,18.1,0,NaN,5,0
630,Delhi Capitals,GH Vihari,IPL 2019,2,2,0,4,2,2.00,8,...,9,0,-,-,9.00,-,0,NaN,0,0

## Sort, and Groupby

In [49]:
f.sort_values('Highest Score',ascending=False)
# Sort values by col1 in ascending order

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,...,Runs Conceded,Wickets Taken,Best Bowling Figures,Bowling Average,Bowling Economy Rate,Bowling Strike Rate,4+ Innings Wickets,5+ Innings Wickets,Catches Taken,Stumpings Made
111,Kings XI Punjab,CH Gayle,IPL 2019,13,13,1,490,99*,40.83,319,...,-,-,-,-,-,-,-,NaN,0,0
625,Delhi Capitals,PP Shaw,IPL 2019,16,16,0,353,99,22.06,264,...,-,-,-,-,-,-,-,NaN,2,0
619,Delhi Capitals,S Dhawan,IPL 2019,16,16,1,521,97*,34.73,384,...,-,-,-,-,-,-,-,NaN,5,0
192,Kolkata Knight Riders,KD Karthik,IPL 2019,14,13,5,253,97*,31.62,173,...,-,-,-,-,-,-,-,NaN,7,0
11,Delhi Daredevils,RR Pant,IPL 2017,14,14,0,366,97,26.14,221,...,-,-,-,-,-,-,-,NaN,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Mumbai Indians,JP Behrendorff,IPL 2019,5,-,-,-,-,-,-,...,165,5,2/22,33.00,8.68,22.8,0,NaN,0,0
273,Mumbai Indians,SL Malinga,IPL 2019,12,-,-,-,-,-,-,...,438,16,4/31,27.37,9.76,16.8,2,NaN,1,0
136,Kings XI Punjab,Arshdeep Singh,IPL 2019,3,-,-,-,-,-,-,...,109,3,2/43,36.33,10.90,20.0,0,NaN,0,0
137,Kings XI Punjab,CV Varun,IPL 2019,1,-,-,-,-,-,-,...,35,1,1/35,35.00,11.66,18.0,0,NaN,0,0
509,Rising Pune Supergiants,DL Chahar,IPL 2016,2,-,-,-,-,-,-,...,41,0,-,-,8.20,-,0,NaN,1,0

In [54]:
f.sort_values(['Highest Score','Batting Average'],ascending=[False,False])
# Sort values by col1 in ascending order then col2 in descending order

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,...,Runs Conceded,Wickets Taken,Best Bowling Figures,Bowling Average,Bowling Economy Rate,Bowling Strike Rate,4+ Innings Wickets,5+ Innings Wickets,Catches Taken,Stumpings Made
111,Kings XI Punjab,CH Gayle,IPL 2019,13,13,1,490,99*,40.83,319,...,-,-,-,-,-,-,-,NaN,0,0
625,Delhi Capitals,PP Shaw,IPL 2019,16,16,0,353,99,22.06,264,...,-,-,-,-,-,-,-,NaN,2,0
619,Delhi Capitals,S Dhawan,IPL 2019,16,16,1,521,97*,34.73,384,...,-,-,-,-,-,-,-,NaN,5,0
192,Kolkata Knight Riders,KD Karthik,IPL 2019,14,13,5,253,97*,31.62,173,...,-,-,-,-,-,-,-,NaN,7,0
11,Delhi Daredevils,RR Pant,IPL 2017,14,14,0,366,97,26.14,221,...,-,-,-,-,-,-,-,NaN,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,Chennai Super Kings,SC Kuggeleijn,IPL 2019,2,-,-,-,-,-,-,...,71,2,2/37,35.50,8.87,24.0,0,NaN,0,0
588,Rajasthan Royals,Ankit Sharma,IPL 2018,1,-,-,-,-,-,-,...,11,0,-,-,11.00,-,0,NaN,0,0
600,Rajasthan Royals,P Chopra,IPL 2019,1,-,-,-,-,-,-,...,-,-,-,-,-,-,-,NaN,0,0
609,Rajasthan Royals,S Midhun,IPL 2019,1,-,-,-,-,-,-,...,27,0,-,-,13.50,-,0,NaN,1,0
610,Rajasthan Royals,O Thomas,IPL 2019,4,-,-,-,-,-,-,...,79,5,2/6,15.80,7.90,12.0,0,NaN,1,0

In [60]:
t = f.groupby(['Team','Player'])
# Returns groupby object for values from multiple columns
t.head()

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,...,Runs Conceded,Wickets Taken,Best Bowling Figures,Bowling Average,Bowling Economy Rate,Bowling Strike Rate,4+ Innings Wickets,5+ Innings Wickets,Catches Taken,Stumpings Made
0,Delhi Daredevils,CH Morris,IPL 2016,12,7,4,195,82*,65.00,109,...,308,13,2/30,23.69,7.00,20.3,0,NaN,8,0
1,Delhi Daredevils,CH Morris,IPL 2017,9,9,4,154,52*,30.80,94,...,240,12,4/26,20.00,7.74,15.5,1,NaN,5,0
2,Delhi Daredevils,CH Morris,IPL 2018,4,4,3,46,27*,46.00,26,...,143,3,2/41,47.66,10.21,28.0,0,NaN,2,0
3,Delhi Daredevils,JP Duminy,IPL 2016,10,8,3,191,49*,38.20,156,...,55,2,1/4,27.50,7.85,21.0,0,NaN,3,0
4,Delhi Daredevils,Q de Kock,IPL 2016,13,13,1,445,108,37.08,327,...,-,-,-,-,-,-,-,NaN,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,Delhi Capitals,S Lamichhane,IPL 2019,6,1,0,0,0,0.00,1,...,210,8,3/40,26.25,9.13,17.2,0,NaN,2,0
627,Delhi Capitals,CA Ingram,IPL 2019,12,12,2,184,47,18.40,154,...,-,-,-,-,-,-,-,NaN,1,0
628,Delhi Capitals,SE Rutherford,IPL 2019,7,7,2,73,28*,14.60,54,...,59,1,1/6,59.00,8.63,41.0,0,NaN,5,0
629,Delhi Capitals,KMA Paul,IPL 2019,8,6,1,18,7,3.60,24,...,237,9,3/17,26.33,8.72,18.1,0,NaN,5,0
630,Delhi Capitals,GH Vihari,IPL 2019,2,2,0,4,2,2.00,8,...,9,0,-,-,9.00,-,0,NaN,0,0

In [80]:
score = f.loc[:,['Matches','Catches Taken','Stumpings Made']]
score.head(100)

    Matches  Catches Taken  Stumpings Made
0        12              8               0
1         9              5               0
2         4              2               0
3        10              3               0
4        13              2               2
..      ...            ...             ...
95        3              1               0
96        3              1               0
97        1              0               0
98        4              1               0
99        2              0               0

[100 rows x 3 columns]

In [81]:
score.apply(np.mean)
# Apply the function np.mean() across each column

Matches           8.332805
Catches Taken     2.830428
Stumpings Made    0.131537
dtype: float64

## Join/Combine

In [85]:
data1 = f.iloc[1:11,[3,27,28]]
data1
# Returns columns as a new DataFrame

    Matches  Catches Taken  Stumpings Made
1         9              5               0
2         4              2               0
3        10              3               0
4        13              2               2
5        14              3               0
6        14              2               0
7         8              2               0
8        14              3               1
9        14              4               0
10       10              3               0

In [86]:
data2 = f.iloc[110:121,[3,27,28]]
data2
# Returns columns as a new DataFrame

     Matches  Catches Taken  Stumpings Made
110       11              2               0
111       13              0               0
112        6              0               0
113       13              4               0
114        8              1               0
115        4              3               0
116        6              2               0
117       10              4               0
118        1              1               0
119       14              5               0
120       14              4               0

In [88]:
data1.append(data2)
# Add the rows in df1 to the end of df2 (columns should be identical)

     Matches  Catches Taken  Stumpings Made
1          9              5               0
2          4              2               0
3         10              3               0
4         13              2               2
5         14              3               0
6         14              2               0
7          8              2               0
8         14              3               1
9         14              4               0
10        10              3               0
110       11              2               0
111       13              0               0
112        6              0               0
113       13              4               0
114        8              1               0
115        4              3               0
116        6              2               0
117       10              4               0
118        1              1               0
119       14              5               0
120       14              4               0

In [92]:
data3 = f.iloc[1:11,:4]
data3

                Team     Player Tournament  Matches
1   Delhi Daredevils  CH Morris   IPL 2017        9
2   Delhi Daredevils  CH Morris   IPL 2018        4
3   Delhi Daredevils  JP Duminy   IPL 2016       10
4   Delhi Daredevils  Q de Kock   IPL 2016       13
5   Delhi Daredevils    KK Nair   IPL 2016       14
6   Delhi Daredevils    KK Nair   IPL 2017       14
7   Delhi Daredevils     P Negi   IPL 2016        8
8   Delhi Daredevils  SV Samson   IPL 2016       14
9   Delhi Daredevils  SV Samson   IPL 2017       14
10  Delhi Daredevils    RR Pant   IPL 2016       10

In [91]:
data4 = f.iloc[1:11,7:10]
data4

   Highest Score Batting Average Balls Faced
1            52*           30.80          94
2            27*           46.00          26
3            49*           38.20         156
4            108           37.08         327
5            83*           35.70         297
6             64           21.61         226
7            19*           28.50          59
8             60           26.45         259
9            102           27.57         273
10            69           24.75         152

In [102]:
result = pd.concat([data3, data4],axis=1)
# Add the columns in df1 to the end of df2 (rows should be identical)
result

,Team,Player,Tournament,Matches,Highest Score,Batting Average,Balls Faced
1,Delhi Daredevils,CH Morris,IPL 2017,9,52*,30.80,94
2,Delhi Daredevils,CH Morris,IPL 2018,4,27*,46.00,26
3,Delhi Daredevils,JP Duminy,IPL 2016,10,49*,38.20,156
4,Delhi Daredevils,Q de Kock,IPL 2016,13,108,37.08,327
5,Delhi Daredevils,KK Nair,IPL 2016,14,83*,35.70,297
6,Delhi Daredevils,KK Nair,IPL 2017,14,64,21.61,226
7,Delhi Daredevils,P Negi,IPL 2016,8,19*,28.50,59
8,Delhi Daredevils,SV Samson,IPL 2016,14,60,26.45,259
9,Delhi Daredevils,SV Samson,IPL 2017,14,102,27.57,273
10,Delhi Daredevils,RR Pant,IPL 2016,10,69,24.75,152

## Exporting Data

Write to a CSV file

In [113]:
result.to_csv('result.csv')
# to Write to a CSV file

In [114]:
result.to_excel('result.xlsx')
# to Write to an Excel file

In [115]:
result.to_json('result.json')
# Write to a file in JSON format